.body-wrapper {
  padding: 0 15px;
}

@keyframes Opacity {
  from{
    opacity: 0;
  }
  top{
    opacity: 1;
  };
}
.section-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.section-header p {
  margin: 0;
  font-size:20px;
  font-family: 'Gotham Rounded Medium';
  color: var(--section-header-p-color);
}
.section-header span {
  font-weight: 600;
  font-family: 'Gotham Rounded Medium', sans-serif;
  font-size: 14px;
  color: var(--section-header-span-color);
}

.section-body-card {
  /* height:150px; */
  /* width:130px; */
  width: 35vw;
  max-height: 18vh;
  overflow: hidden;
  margin: 5px 0;
  box-shadow:0 1px 2px 0 rgba(0,0,0,.14), 0px 2px 0px -4px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
  animation: Opacity 250ms ease-in;
}

.section-body-card img {
  border-radius: 5px;
  /* height:150px; */
  /* width:130px; */
  width: 35vw;
  max-height: 18vh;
}

.section-body-card-title {
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  font-family: 'Gotham Rounded medium', sans-serif;
  /* height:150px; */
  /* width:130px; */
  width: 35vw;
  display: block;
  color: var(--section-header-p-color);
}

.section-body-large-card{
  height:150px;
  width:280px !important;
  margin: 5px 0;
  overflow: hidden;
  box-shadow:0 1px 2px 0 rgba(0,0,0,.14), 0px 2px 0px -4px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
  animation: Opacity 250ms ease-in;
}

.section-body-large-card img {
  border-radius: 5px;
  height:150px;
  width:280px;
}

.section-body-round-card {
  height:100px;
  width:100px;
  margin: 5px 0;
  overflow: hidden;
  border-radius: 50%;
}

.section-body-round-card img {
  border-radius: 50%;
  height:100px;
  width:100px;
}

.section-body-round-card-title {
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  font-family: 'Gotham Rounded medium', sans-serif;
  width: 100px;
  display: block;
  color: var(--section-header-p-color);
} 

.section-body-list-card {
  /* height:150px; */
  /* width:130px; */
  width: 35vw;
}
.section-body-list-card img {
  /* height:150px; */
  /* width:130px; */
  width: 35vw;
}
.section-body-list-card .section-body-card-overly {
  /* width:130px; */
  width: 35vw;
  padding: 5px 10px;
  display: block;
  font-family: 'Gotham rounded medium',sans-serif;
  background: rgba(0, 0, 0, .7);
  position: absolute;
    left: 0;
    height: 50px;
    color: #FFF;
    bottom: 5px;
    border-radius: 5px;
}
.section-body-card-overly p {
  width: 100%;
  margin: 0;
}