:root {
    --home-bg-color: #ffffff;
    --app-navbar-bg-color: #ffffff; 
    --app-navbar-color: #ccc; 
    --app-navbar-active-color: rgba(0, 0, 0,.6); 
    --app-navbar-shadow-color: rgba(0, 0, 0,.05); 
    --sidebar-menu-bg-color-one: rgba(231, 135, 130, 1);
    --sidebar-menu-bg-color-two: rgba(247, 218, 159, 1);
    --sidebar-menu-icon-color: #ffffff;
    --section-header-p-color:  rgba(21, 29, 77, 1);
    --section-header-span-color: rgba(231, 135, 130, 1);
}
body {
    background-color: var(--home-bg-color);
    margin-bottom: 70px
}
.sidebar-menu {
    background: linear-gradient(to right, var(--sidebar-menu-bg-color-one) 25%, var(--sidebar-menu-bg-color-two));
    display: flex;
    align-items: center;
    color: var(--sidebar-menu-icon-color);
    font-weight: 600;
    font-size: 18px;
}
.sidebar-menu-icon {
    fill: var(--sidebar-menu-icon-color);
    margin-bottom: -5px;
    margin-right: 20px;
}